

input[type="submit"]{
	margin: 6px;
	margin-left: auto;
	margin-right: auto;
	background-color: cornflowerblue;
	opacity: 0.65;
	color: white;
	position: relative;
}

input[type="submit"]:hover{
	opacity: 0.95;
}

form{
	padding: 15px;
	margin: auto;
}

#login-form-id{
	margin-top: 1%;		
}

h1, h2{
	text-align: center;
	color: lightblue;
}

h1{
	font-size: 400%;
}

div.failure-message{
	position: fixed;
	color: darkred;
	bottom: 0;
	width: 100%;
	font-weight: bold;
}

input{
	width: 30%;
	border: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 10px;
}

#logOutId{
	background-color: darkred;
}

#user-info{
	background-color: green;
}

#quiz-lookup{
	background-color: black;
}